.div_contedory{
    background-color: aqua;
    display: flex;
}

.eleccion{
    background-color: darkblue;
    display: grid;
}

.card_de_Nuevos{
    display: flex;
    background-color: #f0ffff;
}

.card_de_Usados{
    display: flex;
    background-color: tan;
}

.card_de_Alquilar{
    display: flex;
    background-color: tomato;
}