body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}


section{
    max-width: 100%;
}

article {
    display: inline-block;
    background-color: rgb(176, 176, 176);
    margin: auto;
}

.PokeCartaContenedor{
    margin: 1rem;
    max-width: 15rem;
    background-color: aliceblue;
    padding: 0.5rem;
    border-radius: 1rem;
}


.select{
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;;
    border-radius: 1rem;
}

.select:active{
    font-size: 1rem;
}